/*font-family: 'Merriweather', serif;
font-family: 'Caladea', serif;*/
body {
  max-width: 100%;
  margin: auto;
  background-color: #e8c1c5;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background-color: #617E9E;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #e8c1c5;
}

h1 {
  font-size: 36px;
  color: #ffffff;
  font-family: 'Caladea', serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  line-height: 12px;
}

#aboutmetitle {
  color: #ffffff;
  line-height: 12px;
}

.container {
  margin: 0 auto;
}

#intro-text {
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  margin: 200px 100px;
  padding-left: 20px;
  padding-right: 20px;
  right: 0px;
  -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

#bgimage {
  background-image: url("1marquez-headshot.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#bgimage2 {
  background-image: url("impeachment-arrow.png");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#bgimage3 {
  background-image: url("pool-duty.jpeg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#bgimage4 {
  background-image: url("sga.jpeg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#highlight {
  background-color: #617E9E;
  padding-left: 2px;
  padding-right: 2px;
}

#email {
  margin-top: 15px;
  font-weight: normal;
  font-size: 21px;
}

.page-text {
  max-width: 70%;
  margin: 0 auto;
}

p {
  font-size: 15px;
  font-family: 'Merriweather', serif;
  color: #011638;
}

.activities {
  font-size: 15px;
  font-family: 'Merriweather', serif;
  color: #011638;
}

#photo-caption {
  font-size: 14px;
  font-family: 'Merriweather', serif;
  color: #011638;
  text-align: center;
}

.floating-caption {
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

#photo-credit {
font-size: 10px;
font-family: 'Merriweather', serif;
color: #011638;
}

.paragraphs {
  padding-bottom: 15px;
  max-width: 70%;
  margin: 0 auto;
}

#majors {
  background-color: #617E9E;
  margin: 0 auto;
  padding: 0px 2px;
}

.experience {
  padding-top: 20px;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 25px;
}

h2 {
  font-size: 22px;
  color: #2e294e;
  font-family: 'Caladea', serif;
  text-align: center;
}

h3 {
  font-size: 18px;
  color: #617E9E;
  font-family: 'Caladea', serif;
  margin: 0 auto;
}

h4 {
  font-size: 16px;
  color: #011638;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  line-height: 20px;
}

h5 {
  color: #617E9E;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  margin: 0 auto;
}

.photo {
  text-align: center;
}

ul {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: #617E9E;
}

#skills {
  font-size: 14px;
}

#contact-info{
  text-align: center;
  color: #617E9E;
  padding-top: 60px;
}

#contact-info ul {
  list-style-type: none;
  padding-left: 0;
}

#contact-info ul li {
  display: inline-block;
}

#contact-info ul li::after {
  /*target the li's in social and target the space immediately after them*/
  content: "|";
  padding: 6px;
}

#contact-info ul li:last-child::after {
  /*target same as above, but only the last li element in the list*/
  content: "";
}

.fa {
  padding: 20px;
  font-size: 18px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

#education{
  text-align: center;
  color: #617E9E;
  padding-bottom: 20px;
}

#education ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  color: #617E9E;
}

#education ul li {
  display: inline-block;
}

#education ul li::after {
  /*target the li's in social and target the space immediately after them*/
  content: "|";
  padding: 6px;
}

#education ul li:last-child::after {
  /*target same as above, but only the last li element in the list*/
  content: "";
}

/*Things potentially needed for my future reference:*/

/*#pages{
  text-align: center;
  color: #617E9E;
}

#pages ul {
  list-style-type: none;
  padding-left: 0;
}

#pages ul li {
  display: inline-block;
}

#pages ul li::after {
  target the li's in social and target the space immediately after them
  content: "|";
  padding: 6px;
}

#pages ul li:last-child::after {
  content: "";
}*/

/* #pages ul li:last-child::after {} targets same as above, but only the last li element in the list*/

/*
.color1 {
  background-color: #617E9E;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color2 {
  background-color: #011638;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color3 {
  background-color: #2e294e;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color4 {
  background-color: #d499b9;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color5 {
  background-color: #e8c1c5;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
*/
