/*font-family: 'Merriweather', serif;
font-family: 'Caladea', serif;*/
body {
  max-width: 60%;
  margin: auto;
}

h1 {
  font-size: 36px;
  color: #2E294E;
  font-family: 'Caladea', serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border-bottom-color: #517BA8;
}

img {
  max-width: 300px;
  text-align: center;
}

p {
  font-size: 15px;
  font-family: 'Merriweather', serif;
  color: #011638;
}

h2 {
  font-size: 22px;
  color: #d499b9;
  font-family: 'Caladea', serif;
}

h3 {
  font-size: 18px;
  color: #617E9E;
  font-family: 'Caladea', serif;
}

h4 {
  font-size: 16px;
  color: #011638;
  font-family: 'Merriweather', serif;
}

h5 {
  color: #E8C1C5;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.photo {
  text-align: center;
}

ul {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: #617E9E;
}

#skills {
  font-size: 14px;
}

#pages{
  text-align: center;
  color: #617E9E;
}

#pages ul {
  list-style-type: none;
  padding-left: 0;
}

#pages ul li {
  display: inline-block;
}

#pages ul li::after {
  /*target the li's in social and target the space immediately after them*/
  content: "|";
  padding: 6px;
}

#pages ul li:last-child::after {
  /*target same as above, but only the last li element in the list*/
  content: "";
}

.color1 {
  background-color: #617E9E;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color2 {
  background-color: #011638;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color3 {
  background-color: #2e294e;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color4 {
  background-color: #d499b9;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.color5 {
  background-color: #e8c1c5;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
